manifest {
  mainScript = 'Cecret.nf'
  name = 'Cecret'
  author = 'Erin Young'
  homePage = 'https://github.com/UPHL-BioNGS/Cecret'
  version = 'v.2.3.20220113'
}

//########## Setting the Profile ##########
profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "-u \$(id -u):\$(id -g)"
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  artic_V3 {
    params.primer_set == 'ncov_V3'
  }
  artic_V4 {
    params.primer_set == 'ncov_V4'
  }
  artic_V4.1 {
    params.primer_set == 'ncov_V4.1'
  }
  uphl {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = 'singularity'
    params {
      reads = "Sequencing_reads/Raw"
      kraken2 = true
      kraken2_db = '/Volumes/IDGenomics_NAS/Data/kraken2_db/h+v'
      vadr = false
    }
  }
}

includeConfig './configs/cecret_config_template.config'
