manifest {
  mainScript                                = 'main.nf'
  name                                      = 'Cecret'
  author                                    = 'Erin Young'
  homePage                                  = 'https://github.com/UPHL-BioNGS/Cecret'
  version                                   = 'v.3.7.20230516'
  defaultBranch                             = 'master'
}

//########## Setting the Profile ##########
profiles {
  docker {
    includeConfig './configs/docker.config'
  }
  singularity {
    includeConfig './configs/singularity.config'
  }
  artic_V3 {
    params.primer_set                       = 'ncov_V3'
  }
  artic_V4 {
    params.primer_set                       = 'ncov_V4'
  }
  artic_V4_1 {
    params.primer_set                       = 'ncov_V4.1'
  }
  artic_V5_3_2 {
    params.primer_set                       = 'ncov_V5.3.2'
  }
  sarscov2 {
    params.species                          = 'sarscov2'
  }
  mpx {
    includeConfig './configs/mpx.config'
  }
  mpx_idt {
    includeConfig './configs/mpx_idt.config'
  }
  mpx_primalseq {
    includeConfig './configs/mpx_primalseq.config'
  }  
  uphl {
    includeConfig './configs/uphl.config'
  }
  test {
    includeConfig './configs/test.config'
  }
  test1 {
    includeConfig './configs/test1.config'
  }
  test2 {
    includeConfig './configs/test2.config'
  }
}
