/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params.modules_testdata_base_path = '.'
params.pipelines_testdata_base_path = '.'