process {
    withName: ACI {
        container = 'staphb/aci:latest'
    }
    withName: "ARTIC.*" {
        container = 'staphb/artic:latest'
    }
    withName: BBNORM {
        container = 'staphb/bbtools:latest'
    }
    withName: BCFTOOLS {
        container = 'staphb/bcftools:latest'
    }
    withName: BWA {
        container = 'staphb/bwa:latest'
    }
    withName: FASTP {
        container = 'staphb/fastp:latest'
    }
    withName: FASTQC {
        container = 'staphb/fastqc:latest'
    }
    withName: "FREYJA.*" {
        container = 'staphb/freyja:latest'
    }
    withName: HEATCLUSTER {
        container = 'staphb/heatcluster:latest'
    }
    // withName: IGV_REPORTS {
    //     container = 'staphb/igv-reports:latest'
    // }
    withName: IQTREE2 {
        container = 'staphb/iqtree2:latest'
    }
    withName: "IVAR.*" {
        container = 'staphb/ivar:latest'
    }
    withName: KRAKEN2 {
        container = 'staphb/kraken2:latest'
    }
    withName: DOWNLOAD {
        container = 'staphb/multiqc:latest'
    }
    withName: PREP {
        container = 'staphb/multiqc:latest'
    }
    withName: SUMMARY {
        container = 'staphb/multiqc:latest'
    }
    withName: UNZIP {
        container = 'staphb/multiqc:latest'
    }
    withName: MAFFT {
        container = 'staphb/mafft:latest'
    }
    withName: MINIMAP2 {
        container = 'staphb/minimap2:latest'
    }
    withName: MULTIQC {
        container = 'staphb/multiqc:latest'
    }
    withName: "NEXTCLADE.*" {
        container = 'nextstrain/nextclade:latest'
    }
    withName: PANGO_ALIASOR {
        container = 'staphb/pango_aliasor:latest'
    }
    withName: PANGOLIN {
        container = 'staphb/pangolin:latest'
    }
    withName: PHYTREEVIZ {
        container = 'staphb/phytreeviz:latest'
    }
    withName: "SAMTOOLS.*" {
        container = 'staphb/samtools:latest'
    }
    withName: SEQYCLEAN {
        container = 'staphb/seqyclean:latest'
    }
    withName: SNPDISTS {
        container = 'staphb/snp-dists:latest'
    }
    withName: VADR {
        container = 'staphb/vadr:latest'
    }
}