params.species                         = 'other'
params.nextclade_dataset               = 'nextstrain/measles/N450/WHO-2012'
params.vadr_options                    = '-r --indefclass 0.01 --mkey mev'
params.vadr_reference                  = 'mev'
params.vadr_trim_options               = '--minlen 50 --maxlen 18000'
params.samtools_ampliconstats          = false
params.freyja_pathogen                 = 'MEASLES'

process {
  withName: VADR {
    container = 'staphb/vadr:1.6.4-mev'
  }
}
