params.species                         = 'other'
params.nextclade_dataset               = 'nextstrain/measles/N450/WHO-2012'
params.vadr_options                    = '-r --indefclass 0.01 --mkey mev'
params.vadr_reference                  = 'mev'
params.vadr_trim_options               = '--minlen 50 --maxlen 18000 --3rules --ten 3 --fifty 15'
params.samtools_ampliconstats          = false
params.freyja_pathogen                 = 'MEASLESgenome'
params.update_freya_db                 = false

process {
  withName: VADR {
    container = 'staphb/vadr:1.7-mev'
  }
  withName: FREYJA {
    container = 'staphb/freyja:2.0.3-MEASLESgenome-2025-05-01-2026-02-09'
  }
  withName: FREYJA_AGGREGATE {
    container = 'staphb/freyja:2.0.3-MEASLESgenome-2025-05-01-2026-02-09'
  }
}
