process {

  withName: ACI {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }

  withName: ARTIC {
    ext.args = ''
    publishDir = [
      [
        path: { "${params.outdir}" },
        mode: params.publish_dir_mode,
        pattern: "logs/*/*log"
      ],
      [
        path: { "${params.outdir}" },
        mode: params.publish_dir_mode,
        pattern: "artic/*", optional: true
      ],
    ]
  }
  
  withName: ARTIC_FILTER {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: BBNORM {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: BCFTOOLS {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: BWA {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      pattern: "logs/*/*log"
    ]
  }
  
  withName: DATASETS {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }

  withName: FASTP {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: FASTQC {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: FREYJA {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: FREYJA_AGGREGATE {
    ext.args = ''
    ext.pltarg = ''
    ext.filtyp = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: HEATCLUSTER {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: IGV_REPORTS {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: IQTREE2 {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: IVAR_CONSENSUS {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: IVAR_VARIANTS {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: IVAR_TRIM {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: KRAKEN2 {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }

  withName: KRAKEN2_DB {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }


  withName: ENA {
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  // no values to adjust
  //withName: PREP {
  //}
  
  withName: SUMMARY {
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  // no values to adjust
  //withName: UNZIP {
  //}
  
  withName: MAFFT {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: MINIMAP2 {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      pattern: "logs/*/*log"
    ]
  }
  
  withName: MULTIQC {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: NEXTCLADE_DATASET {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: NEXTCLADE {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: PANGO_ALIASOR {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: PANGOLIN {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: PHYTREEVIZ {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SAMTOOLS_QC {
    ext.stats_args = ''
    ext.coverage_args = ''
    ext.flagstat_args = ''
    ext.depth_args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SAMTOOLS_AMPLICONSTATS {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SAMTOOLS_PLOT_AMPLICONSTATS {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SAMTOOLS_SORT {
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SAMTOOLS_FILTER {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SAMTOOLS_AMPLICONCLIP {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SAMTOOLS_MARKDUP {
    ext.args = ''
    ext.fmargs = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SEQYCLEAN {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: SNPDISTS {
    ext.args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  
  withName: VADR {
    ext.args = ''
    ext.trim_args = ''
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
}
