singularity {
  enabled = true
  autoMounts = true
}

process {
  withName:seqyclean{
    container = 'staphb/seqyclean:1.10.09'
  }
  withName:fastqc{
    container = 'staphb/fastqc:0.11.8'
  }
  withName:bwa{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:ivar_trim{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:samtools_sort{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:ivar_variants{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:ivar_consensus{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:samtools_stats{
    container = 'staphb/samtools:1.10'
  }
  withName:samtools_coverage{
    container = 'staphb/samtools:1.10'
  }
  withName:samtools_flagstat{
    container = 'staphb/samtools:1.10'
  }
  withName:bedtools{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:pangolin{
    container = 'staphb/pangolin:2.0.5'
  }
  withName:mafft{
    container = 'staphb/mafft:7.450'
  }
  withName:iqtree{
    container = 'staphb/iqtree:1.6.7'
  }
  withName:snpdists{
    container = 'staphb/snp-dists:0.6.2'
  }
  withName:kraken2{
    container = 'staphb/kraken2:2.0.8-beta_hv'
  }
}
