singularity {
  enabled = true
  autoMounts = true
}

// TO DO LIST : change container for   withName:summary, combined_summary, ids, file_submission, and multifasta_submission to something lightweight

process {
  withName:prepare_reference{
    container = 'staphb/bwa:0.7.17'
  }
  withName:seqyclean{
    container = 'staphb/seqyclean:1.10.09'
  }
  withName:fastqc{
    container = 'staphb/fastqc:0.11.8'
  }
  withName:bwa{
    container = 'staphb/bwa:0.7.17'
  }
  withName:sort{
    container = 'staphb/samtools:1.11'
  }
  withName:ivar_trim{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:samtools_trim{
    container = 'staphb/samtools:1.11'
  }
  withName:ivar_variants{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:ivar_consensus{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:bcftools_variants{
    container = 'staphb/bcftools:1.11'
  }
  withName:samtools_stats{
    container = 'staphb/samtools:1.11'
  }
  withName:samtools_coverage{
    container = 'staphb/samtools:1.11'
  }
  withName:samtools_flagstat{
    container = 'staphb/samtools:1.11'
  }
  withName:kraken2{
    container = 'staphb/kraken2:2.1.1-no-db'
  }
  withName:bedtools{
    container = 'staphb/bedtools:2.29.2'
  }
  withName:samtools_ampliconstats{
    container = 'staphb/samtools:1.11'
  }
  withName:pangolin{
    container = 'staphb/pangolin:2.0.5'
  }
  withName:summary{
    container = 'staphb/parallel-perl:20200722'
  }
  withName:combined_summary{
    container = 'staphb/parallel-perl:20200722'
  }
  withName:mafft{
    container = 'staphb/mafft:7.475'
  }
  withName:snpdists{
    container = 'staphb/snp-dists:0.6.2'
  }
  withName:iqtree{
    container = 'staphb/iqtree:1.6.7'
  }
  withName:rename_fastq{
    container = 'staphb/parallel-perl:20200722'
  }
  withName:prepare_gisaid{
    container = 'staphb/parallel-perl:20200722'
  }
  withName:prepare_genbank{
    container = 'staphb/parallel-perl:20200722'
  }
  withName:combine_gisaid{
    container = 'staphb/parallel-perl:20200722'
  }
  withName:combine_genbank{
    container = 'staphb/parallel-perl:20200722'
  }
}
