singularity {
  enabled = true
  autoMounts = true
}

process {
  withName:bwa{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:ivar_trim{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:samtools_sort{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:ivar_variants{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:ivar_consensus{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:quast{
    container = 'staphb/quast:5.0.2'
  }
  withName:samtools_stats{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:samtools_coverage{
    container = 'staphb/samtools:1.10'
  }
  withName:bedtools{
    container = 'staphb/ivar:1.2.2_artic20200528'
  }
  withName:multiqc{
    container = 'staphb/multiqc:1.8'
  }
}
