//# Instructions --------------------------------------------
//# We think it's great that you want to adjust some paramaters.
//# This is very useful when running this on the cloud.
//# This is especially useful for the following processes:
//#     - params.kraken2_db to specify where the kraken2 database is on your system
//#     - params.artic_options to specify what flow cell was used to generate nanopore reads
//#     - the organism-specific files for non-COVID/MPX isolates
//# Right now, most everything is commented out with '//'.
//# To adjust a parameter, remove the '//' from in front of a param and replace the value
//# with the one that suits your needs.
//# Don't hesitate to ask for assistance at https://github.com/UPHL-BioNGS/Cecret/issues
//# if something doesn't work (also, please include a copy of your config file).

//# Docker Params -------------------------------------------
//# see https://www.nextflow.io/docs/latest/config.html#scope-docker for a complete list
//docker.enabled = true
//docker.runOptions = '-u \$(id -u):\$(id -g)'
//docker.sudo = false
//docker.temp = /tmp
//docker.remove = true
//docker.registry = ''
//docker.fixOwnership = true
//docker.engineOptions = ''
//docker.mountFlags = ''

//# Singularity Params --------------------------------------
//# see https://www.nextflow.io/docs/latest/config.html#scope-singularity
//singularity.enabled = true
//singularity.autoMounts = true
//singularity.runOptions = ""
//process.stageInMode = "link"
//singularity.engineOptions = ''
//singularity.cacheDir = ''

//# AWS Batch Params ----------------------------------------
//# see https://www.nextflow.io/docs/latest/config.html#scope-aws for a complete list
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//# Google Cloud Params -------------------------------------
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//# Nextflow Tower ------------------------------------------
//# see https://www.nextflow.io/docs/latest/config.html#scope-tower
//tower.accessToken = ''
//tower.enabled = true

//# Other scopes worth adjusting:
//# executor : https://www.nextflow.io/docs/latest/config.html#scope-executor
//# mail : https://www.nextflow.io/docs/latest/config.html#scope-mail
//# notification : https://www.nextflow.io/docs/latest/config.html#scope-notification

//# Adjustable Workflow parameters ---------------------------
//# see https://www.nextflow.io/docs/latest/config.html#scope-params
//params.reads = 'reads'
//params.single_reads = 'single_reads'
//params.fastas = 'fastas'
//params.multifastas = 'multifastas'
//params.nanopore = 'nanopore'
//params.sample_sheet = "sample_sheet.csv"
//params.outdir = 'cecret'
//params.sra_accessions = []

//# Basic CPU usage grouping
//params.maxcpus = 8
//params.medcpus = 4

//# Specifying the 'sarscov2', 'mpx', or 'other'
//params.species = 'sarscov2'

//# using the included primer sets
//params.primer_set = "ncov_V4"

//# Reference files for SARS-CoV-2 (part of the github repository)
//params.reference_genome = "< path/to/file >"
//params.gff = "< path/to/file >"
//params.primer_bed = "< path/to/file >"
//params.amplicon_bed = "< path/to/file >"

//# Tool toggles
//# trimmer options are 'ivar' and 'samtools' or 'none' for no primer trimming
//params.trimmer = 'ivar'
//# fastq preprocessing options are 'seqyclean' or 'fastp'
//params.cleaner = 'seqyclean'
//# aligning options are 'bwa' or 'minimap2'
//params.aligner = 'bwa'
//# muliple sequencing alignment options are 'mafft' or 'nextclade'
//params.msa = 'mafft'

//# Workflow parameters --------------------------------------

//# For process seqyclean
//params.cleaner = 'seqyclean'
//# The seqyclean contaminant file MUST be in the container. It is not put through a channel.
//params.seqyclean_contaminant_file = '/Adapters_plus_PhiX_174.fasta'
//params.seqyclean_options = '-minlen 25 -qual'

//# For process fastp
//params.cleaner = 'fastp'
//params.fastp_options = ''

//# For process bwa
//params.aligner = 'bwa'

//# For process minimap2
//params.aligner = 'minimap2'
//params.minimap2_options = '-K 20M'

//# For process fastqc
//params.fastqc = true
//params.fastqc_options = ''

//# For process sort
//# No editable parameters

//# For process filter
//params.filter_options = ''
//params.filter = true

//# For process ivar_trim
//params.trimmer = 'ivar'
//params.ivar_trim_options = ''

//# For process samtools_ampliconclip
//params.trimmer = 'samtools'
//params.samtools_ampliconclip_options = ''

//# For process samtools_markdup
//params.markdup = false
//params.samtools_markdup_options = ''
//params.samtools_fixmate_options = ''

//# trimming can also be skipped with
//params.trimmer = 'none'

//# For process ivar_variants
//params.ivar_variants = true
//# params.minimum_depth is shared with ivar_consensus, summary, and samtools_depth
//params.minimum_depth = 100
//# params.mpileup_depth is shared with ivar_consensus and bcftools_variants
//params.mpileup_depth = 8000
//params.ivar_variants_options = '-q 20 -t 0.6'

//# For process ivar_consensus
//# params.minimum_depth is shared with ivar_variants, summary, and samtools_depth
//params.minimum_depth = 100
//# params.mpileup_depth is shared with ivar_variants and bcftools_variants
//params.mpileup_depth = 8000
//params.ivar_consensus_options = '-q 20 -t 0.6 -n N'

//# For process fasta_prep
//# No editable parameters

//# For process aci
//params.aci = true

//# For process bbnorm
//params.bbnorm = false
//params.bbnorm_options = "target=200 min=5"

//# For process heatcluster
//params.heatcluster = true
//params.heatcluster_options = "-t png"

//# For process igv_reports
//params.igv_reports = true
//params.igv_reports_options = "--flanking 1000"

//# For process phytreeviz
//params.phytreeviz = true
//params.phytreeviz_options = ""

//# For processes artic and artic_read_filtering
//params.artic_options = "--normalise 200 --skip-nanopolish --medaka --medaka-model r941_min_high_g360"
//params.artic_read_filtering_options = "--min-length 400 --max-length 700"

//# For process bcftools_variants
//params.bcftools_variants = true
//params.bcftools_variants_options = ""
//# params.mpileup_depth is shared with ivar_variants and ivar_consensus
//params.mpileup_depth = 8000

//# For process samtools_stats
//params.samtools_stats_options = ''
//params.samtools_stats = true

//# For process samtools_coverage
//params.samtools_coverage_options = ''
//params.samtools_coverage = true

//# For process samtools_flagstat
//params.samtools_flagstat_options = ''
//params.samtools_flagstat = true

//# For process samtools_depth
//# params.minimum_depth is shared with ivar_variants, ivar_consensus, and summary
//params.minimum_depth = 100
//params.samtools_depth_options = ''
//params.samtools_depth = true

//# For process kraken2
//params.kraken2_options = ''
//params.kraken2 = false
//params.kraken2_db = false

//# For process samtools_ampliconstats and samtools_plot_ampliconstats
//params.samtools_ampliconstats_options = '--max-amplicon-length 3000 --max-amplicons 3000'
//params.samtools_ampliconstats = true
//params.samtools_plot_ampliconstats_options = '-size 1200,900 -size2 1200,900 -size3 1200,900'
//params.samtools_plot_ampliconstats = true

//# For process pangolin
//params.pangolin_options = ''
//params.pangolin = true

//# For process pango-collapse
//params.pango_collapse_options = ''
//params.pango_collapse = true

//# For process freyja and freyja_aggregate
//params.freyja = true
//params.freyja_aggregate = true
//params.freyja_variants_options = ''
//params.freyja_demix_options = ''
//params.freyja_aggregate_options = ''
//params.freyja_plot_options = ''
//params.freyja_plot_filetype = 'png'

//# For process nextclade
//params.nextclade_dataset = 'sars-cov-2'
//params.nextclade_options = ''
//params.nextclade = true
//params.download_nextclade_dataset = false

//# For process vadr
//params.vadr_options = '--split --glsearch -s -r --nomisc --lowsim5seq 6 --lowsim3seq 6 --alt_fail lowscore,insertnn,deletinn'
//params.vadr_reference = 'sarscov2'
//# If using a different organism, the models must be in the container. Even if the path is changed.
//params.vadr_mdir = '/opt/vadr/vadr-models'
//params.vadr = true
//params.vadr_trim_options = '--minlen 50 --maxlen 30000'

//# For process summary
//# params.minimum_depth is shared with ivar_variants, ivar_consensus, and samtools_depth
//params.minimum_depth = 100

//# For process mafft
//params.msa = 'mafft'
//params.mafft_options = '--maxambiguous 0.5'
//params.relatedness = true

//# For process snpdists
//params.snpdists_options = '-c'
//params.snpdists = true

//# For process iqtree
//params.iqtree2_outgroup = 'MN908947'
//params.iqtree2_options = '-ninit 2 -n 2 -me 0.05 -m GTR'
//params.iqtree2 = true

//* For process multiqc
//params.multiqc = true
//params.multiqc_options = ''

//# Adjusting the directives for a process
//# see https://www.nextflow.io/docs/latest/config.html#scope-process
//# WARNING : THIS WAS PUT TOGETHER IN A HURRY AND LIKELY HAS TYPOS!!!
//process {
//
//  withLabel:maxcpus{
//    cpus = params.maxcpus
//  }
//  withLabel:medcpus{
//    cpus = params.medcpus
//  }
//
//	withName:aci{
//		label = ""process_high""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/uphl/aci:1.4.20240116-2024-01-17'"
//		errorStrategy = "{ task.attempt < 3 ? 'retry' : 'ignore'}"
//	}
//	withName:artic{
//		label = ""process_high""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/uphl/artic:1.2.4-1.11.3-2023-12-19'"
//	}
//	withName:artic_read_filtering{
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/uphl/artic:1.2.4-1.11.3-2023-12-19'"
//		label = ""process_single""
//	}
//	withName:bcftools_variants{
//		publishDir = "cecret, mode: 'copy'"
//		errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//		container = "'staphb/bcftools:1.19'"
//		label = "'process_single'"
//	}
//	withName:bwa{
//		label = ""process_high""
//		publishDir = "path: cecret, mode: 'copy', pattern: 'logs/*/*log'"
//		container = "'staphb/bwa:0.7.17'"
//	}
//	withName:download{
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/bios/pandas:1.5.2'"
//		label = ""process_single""
//	}
//	withName:fasta_prep{
//		//# = "nothing to publish in publishDir"
//		container = "'quay.io/bios/pandas:1.5.2'"
//		label = ""process_single""
//	}
//	withName:fastp{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/fastp:0.23.4'"
//	}
//	withName:fastqc{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/fastqc:0.12.1'"
//	}
//	withName:freyja_aggregate{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/uphl/freyja:1.4.8-2024-01-16'"
//	}
//	withName:freyja_boot{
//		label = ""process_medium""
//		//errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/uphl/freyja:1.4.8-2024-01-16'"
//	}
//	withName:freyja_demix{
//		label = ""process_medium""
//		//errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/uphl/freyja:1.4.8-2024-01-16'"
//	}
//	withName:freyja_variants{
//		label = ""process_medium""
//		//errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/uphl/freyja:1.4.8-2024-01-16'"
//	}
//	withName:heatcluster{
//		publishDir = "params.outdir, mode: 'copy'"
//		container = "'quay.io/uphl/heatcluster:1.0.2c-2024-01-09'"
//		maxForks = "10"
//	}
//	withName:igv_reports{
//		label = ""process_high""
//		publishDir = "path: cecret, mode: 'copy'"
//		container = "'quay.io/bios/igv-reports:1.10.0--pyh7cba7a3_0'"
//	}
//	withName:iqtree2{
//		label = ""process_high""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/iqtree2:2.2.2.6'"
//	}
//	withName:ivar_consensus{
//		label = ""process_medium""
//		memory = "{ 2.GB bin configs data genomes images LICENSE main.nf modules nextflow.config nextflow_schema.json README.md schema subworkflows tower.yml XML_Configuration.xml task.attempt }"
//		errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//		publishDir = "params.outdir, mode: 'copy'"
//		container = "'staphb/ivar:1.4.2'"
//	}
//	withName:ivar_trim{
//		label = ""process_medium""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/ivar:1.4.2'"
//	}
//	withName:ivar_variants{
//		label = ""process_medium""
//		memory = "{ 2.GB bin configs data genomes images LICENSE main.nf modules nextflow.config nextflow_schema.json README.md schema subworkflows tower.yml XML_Configuration.xml task.attempt }"
//		errorStrategy = "{ task.attempt < 3 ? 'retry' : 'ignore'}"
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/ivar:1.4.2'"
//	}
//	withName:kraken2{
//		label = ""process_high""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/kraken2:2.1.3'"
//	}
//	withName:mafft{
//		label = ""process_high""
//		errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/mafft:7.505'"
//	}
//	withName:minimap2{
//		label = ""process_high""
//		publishDir = "path: cecret, mode: 'copy', pattern: 'logs/*/*log'"
//		container = "'staphb/minimap2:2.26'"
//	}
//	withName:multiqc_combine{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/bios/multiqc:1.19--pyhdfd78af_0'"
//	}
//	withName:nextclade{
//		label = ""process_medium""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'nextstrain/nextclade:3.0.0'"
//	}
//	withName:nextclade_dataset{
//		label = ""process_medium""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'nextstrain/nextclade:3.0.0'"
//	}
//	withName:pango_collapse{
//		label = ""process_low""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/uphl/pango-collapse:0.7.1'"
//	}
//	withName:pangolin{
//		label = ""process_medium""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/pangolin:4.3.1-pdata-1.23.1-1'"
//	}
//	withName:phytreeviz{
//		label = ""maxcpus""
//		publishDir = "params.outdir, mode: 'copy'"
//		container = "'staphb/phytreeviz:0.1.0'"
//		maxForks = "10"
//		errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//	}
//	withName:samtools_ampliconclip{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_ampliconstats{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_coverage{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_depth{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_filter{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_flagstat{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_markdup{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_plot_ampliconstats{
//		label = ""process_single""
//		errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_sort{
//		label = ""process_high""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:samtools_stats{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/samtools:1.19'"
//	}
//	withName:seqyclean{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/seqyclean:1.10.09'"
//	}
//	withName:snpdists{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/snp-dists:0.8.2'"
//	}
//	withName:summary{
//		label = ""process_single""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'quay.io/bios/pandas:1.5.2'"
//	}
//	withName:unzip{
//		label = ""process_single""
//		//# = "nothing to publish in publishDir"
//		container = "'quay.io/bios/pandas:1.5.2'"
//	}
//	withName:vadr{
//		label = ""process_medium""
//		publishDir = "cecret, mode: 'copy'"
//		container = "'staphb/vadr:1.6.3'"
//	}
//}
