process {
  withName:seqyclean{
    container = 'staphb/seqyclean:latest'
  }
  withName:fastp{
    container = 'bromberglab/fastp:latest'
  }
  withName:fastqc{
    container = 'staphb/fastqc:latest'
  }
  withName:bwa{
    container = 'staphb/bwa:latest'
  }
  withName:minimap2{
    container = 'staphb/minimap2:latest'
  }
  withName:sort{
    container = 'staphb/samtools:latest'
  }
  withName:ivar_trim{
    container = 'staphb/ivar:latest'
  }
  withName:samtools_trim{
    container = 'staphb/samtools:latest'
  }
  withName:ivar_variants{
    container = 'staphb/ivar:latest'
  }
  withName:ivar_consensus{
    container = 'staphb/ivar:latest'
  }
  withName:bcftools_variants{
    container = 'staphb/bcftools:latest'
  }
  withName:samtools_stats{
    container = 'staphb/samtools:latest'
  }
  withName:samtools_coverage{
    container = 'staphb/samtools:latest'
  }
  withName:samtools_flagstat{
    container = 'staphb/samtools:latest'
  }
  withName:kraken2{
    container = 'staphb/kraken2:latest'
  }
  withName:bedtools{
    container = 'staphb/bedtools:latest'
  }
  withName:bamsnap{
    container = 'danielmsk/bamsnap:latest'
  }
  withName:samtools_ampliconstats{
    container = 'staphb/samtools:latest'
  }
  withName:pangolin{
    container = 'staphb/pangolin:latest'
  }
  withName:nextclade{
    container = 'neherlab/nextclade:latest'
  }
  withName:summary{
    container = 'staphb/parallel-perl:latest'
  }
  withName:combined_summary{
    container = 'staphb/parallel-perl:latest'
  }
  withName:mafft{
    container = 'staphb/mafft:latest'
  }
  withName:snpdists{
    container = 'staphb/snp-dists:latest'
  }
  withName:iqtree{
    container = 'staphb/iqtree:latest'
  }
  withName:rename{
    container = 'staphb/parallel-perl:latest'
  }
  withName:combine_fastas{
    container = 'staphb/parallel-perl:latest'
  }
}
