//# Docker Params -------------------------------------------
//docker.enabled = true
//docker.runOptions = '-u \$(id -u):\$(id -g)'
//docker.sudo = false
//docker.temp = /tmp
//docker.remove = true
//docker.registry = ''
//docker.fixOwnership = true
//docker.engineOptions = ''
//docker.mountFlags = ''

//# Singularity Params --------------------------------------
//singularity.enabled = true
//singularity.autoMounts = true
//singularity.runOptions = ""
//process.stageInMode = "link"
//singularity.engineOptions = ''
//singularity.cacheDir = ''

//# AWS Batch Params ----------------------------------------
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//# Google Cloud Params -------------------------------------
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//# Nextflow Tower ------------------------------------------
//tower.accessToken = ''
//tower.enabled = true

//# Adjustable Workflow paramters ---------------------------
//params.reads = 'reads'
//params.single_reads = 'single_reads'
//params.outdir = 'cecret'

//# Reference files for SARS-CoV-2 (part of the github repository)
//params.reference_genome = "Cecret/configs/MN908947.3.fasta"
//params.gff_file = "Cecret/configs/MN908947.3.gff"
//params.primer_bed = "Cecret/configs/artic_V3_nCoV-2019.bed"
//params.amplicon_bed = "Cecret/configs/nCoV-2019.insert.bed"

//# Tool toggles
//params.trimmer = 'ivar'
//params.trimmer = 'samtools'
//params.cleaner = 'seqyclean'
//params.cleaner = 'fastp'
//params.aligner = 'bwa'
//params.aligner = 'minimap2'

//# Docker Images -------------------------------------------
seqyclean_container = 'staphb/seqyclean:latest'
fastp_container = 'bromberglab/fastp:latest'
bwa_container = 'staphb/bwa:latest'
minimap2_container = 'staphb/minimap2:latest'
samtools_container = 'staphb/samtools:latest'
ivar_container = 'staphb/ivar:latest'
bcftools_container = 'staphb/bcftools:latest'
bamsnap_container = 'danielmsk/bamsnap:latest'
kraken2_container = 'staphb/kraken2:latest'
bedtools_container = 'staphb/bedtools:latest'
pangolin_container = 'staphb/pangolin:latest'
nextclade_container = 'neherlab/nextclade:latest'
vadr_container = 'staphb/vadr:latest'
parallel-perl_container = 'staphb/parallel-perl:latest'
mafft_container = 'staphb/mafft:latest'
snp-dists_container = 'staphb/snp-dists:latest'
iqtree_container = 'staphb/iqtree:latest'

//# Workflow paramters --------------------------------------

//# seqyclean
//params.seqyclean_contaminant_file = "/Adapters_plus_PhiX_174.fasta"
//params.seqyclean_minlen = 25

//# minimap2
//params.aligner = 'minimap2'
//params.minimap2_K = '20M' // stolen from monroe
//params.minimap2_options = ''

//# For process filter
//params.filter_options = ''
//params.filter = true

//# For process samtools_ampliconclip
//params.samtools_ampliconclip_options = ''

//# For process ivar_variants
//params.ivar_quality = 20
//params.ivar_frequencing_threshold = 0.6
//params.ivar_minimum_read_depth = 10
//params.mpileup_depth = 8000

//# For process ivar_consensus
//params.ivar_quality = 20
//params.ivar_frequencing_threshold = 0.6
//params.ivar_minimum_read_depth = 10
//params.mpileup_depth = 8000

//# For process bcftools_variants
//params.bcftools_variants = true

//# For process bamsnap
//params.bamsnap = true
//params.bamsnap_options = ''

//# For process samtools_stats
//params.samtools_stats_options = ''
//params.samtools_stats = true

//# For process samtools_coverage
//params.samtools_coverage_options = ''
//params.samtools_coverage = true

//# For process samtools_depth
//params.samtools_depth_options = ''
//params.samtools_depth = true

//# For process samtools_flagstat
//params.samtools_flagstat_options = ''
//params.samtools_flagstat = true

//# For process kraken2
//params.kraken2_options = ''
//params.kraken2 = true
//params.kraken2_db = 'kraken2_db/h+v'
//params.kraken2_organism = "Severe acute respiratory syndrome coronavirus 2"

//# For process bedtools_multicov
//params.bedtools_multicov = true
//params.bedtools_options = '-f .1'

//# For process samtools_ampliconstats
//params.samtools_ampliconstats_options = ''
//params.samtools_ampliconstats = true

//# For process samtools_plot_ampliconstats
//params.samtools_plot_ampliconstats_options = '-size 1200,900 -size2 1200,900 -size3 1200,900'
//params.samtools_plot_ampliconstats = true

//# For process pangolin
//params.pangolin_options = ''
//params.pangolin = true

//# For process nextclade
//params.nextclade_options = ''
//params.nextclade = true

//# For process vadr
//params.vadr_options = '--split --glsearch -s  -r --nomisc --lowsim5term 2 --lowsim3term 2 --alt_fail lowscore,fstukcnf,insertnn,deletinn'
//params.vadr_reference = 'sarscov2'
//params.vadr_mdir = '/opt/vadr/vadr-models'
//params.vadr = true

//# For process mafft
//params.mafft_options = ''
//params.max_ambiguous = '0.50'
//params.relatedness = true

//# For process snpdists
//params.snpdists_options = ''
//params.snpdists = true

//# For process iqtree
//params.iqtree_options = ''
//params.outgroup = 'MN908947.3'
//params.mode = 'GTR'
//params.iqtree = true

//# For process rename
//params.rename = true
//params.sample_file = 'covid_samples.csv'
//params.gisaid_threshold = '25000'
//params.genbank_threshold = '15000'

//# default memory and cpu usage
params.maxcpus = '8'
params.medcpus = '5'
params.maxmem = '32G'

process {
  //publishDir = "cecret, mode: 'copy'
  //stageInMode = 'symlink'
  //echo = 'false'

  errorStrategy = 'retry'
  maxRetries = 1

  cpus = 1
  memory = '1 GB'

  withName:seqyclean{
    container = seqyclean_container
  }

  withName:fastp{
    container = fastp_container
  }

  withName:bwa{
    cpus = "params.maxcpus"
    container = bwa_container
  }

  withName:minimap2{
    cpus = "params.maxcpus"
    container = minimap2_container
  }

  withName:sort{
    container = samtools_container
  }

  withName:filter{
    container = samtools_container
  }

  withName:ivar_trim{
    cpus = "params.maxcpus"
    container = ivar_container
  }

  withName:samtools_ampliconclip{
    cpus = "params.maxcpus"
    container = samtools_container
  }

  withName:ivar_variants{
    cpus = "params.maxcpus"
    container = ivar_container
  }

  withName:ivar_consensus{
    container = ivar_container
    memory = '{2.GB * task.attempt}'
    errorStrategy = 'retry'
    maxRetries = '2'
  }

  withName:bcftools_variants{
   container = bcftools_container
  }

  withName:bamsnap{
    cpus = 'params.medcpus'
    errorStrategy = 'ignore'
    container = bamsnap_container
    time = '1h'
  }

  withName:samtools_stats{
    container = samtools_container
  }

  withName:samtools_coverage{
    container = samtools_container
  }

  withName:samtools_flagstat{
    container = samtools_container
  }

  withName:samtools_depth{
    container = samtools_container
  }

  withName:kraken2{
    cpus = "params.maxcpus"
    container = kraken2_container
  }

  withName:bedtools_multicov{
    container = bedtools_container
  }

  withName:samtools_ampliconstats{
    container = samtools_container
  }

  withName:samtools_ampliconstats{'
    container = samtools_container
  }

  withName:pangolin{
    cpus = "params.maxcpus"
    container = pangolin_container
  }

  withName:nextclade{
    cpus = "params.maxcpus"
    container = nextclade_container
  }

  withName:vadr{
    cpus = 'params.medcpus'
    memory = 'params.maxmem'
    container = 'staphb/vadr:latest'
  }

  withName:summary{
    container = parallel-perl_container
  }

  withName:combined_summary{
    container = parallel-perl_container
  }

  withName:mafft{
    cpus = "params.maxcpus"
    container = mafft_container
    errorStrategy = 'retry'
    maxRetries = '2'
  }

  withName:snpdists{
    container = snp-dists_container
  }

  withName:iqtree{
   cpus = "params.maxcpus"
   container = iqtree_container
  }

  withName:rename{
    container = parallel-perl_container
  }

  withName:fasta_prep{
    container = parallel-perl_container
  }
