//# Docker Params -------------------------------------------
//docker.enabled = true
//docker.runOptions = ""
//docker.sudo = false
//docker.temp = /tmp
//docker.remove = true
//docker.registry = ''
//docker.fixOwnership = true
//docker.engineOptions = ''
//docker.mountFlags = ''

//# Singularity Params --------------------------------------
//singularity.enabled = true
//singularity.autoMounts = true
//singularity.runOptions = ""
//process.stageInMode = "link"
//singularity.engineOptions = ''
//singularity.cacheDir = ''

//# AWS Batch Params ----------------------------------------
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//# Google Cloud Params -------------------------------------
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//# Nextflow Tower ------------------------------------------
//tower.accessToken = ''
//tower.enabled = true

//# Adjustable Workflow paramters ---------------------------
//params.reads = 'reads'
//params.single_reads = 'single_reads'
//params.outdir = 'cecret'

//# Reference files for SARS-CoV-2 (part of the github repository)
//params.reference_genome = "Cecret/configs/MN908947.3.fasta"
//params.gff_file = "Cecret/configs/MN908947.3.gff"
//params.primer_bed = "Cecret/configs/artic_V3_nCoV-2019.bed"
//params.amplicon_bed = "Cecret/configs/nCoV-2019.insert.bed"

//# default memory and cpu usage
//params.maxcpus = 48
//params.medcpus = 5
//params.maxmem = 200G

//# Tool toggles
//params.trimmer = 'ivar'
//params.trimmer = 'samtools'
//params.cleaner = 'seqyclean'
//params.cleaner = 'fastp'
//params.aligner = 'bwa'
//params.aligner = 'minimap2'

//# For process seqyclean
//params.cleaner == 'seqyclean'
//params.seqyclean_contaminant_file="/Adapters_plus_PhiX_174.fasta"
//params.seqyclean_minlen = 25
//process {
//  withName:seqyclean{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/seqyclean:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process fastp
//params.cleaner == 'fastp'
//process {
//  withName:fastp{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'bromberglab/fastp:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process bwa
//params.aligner == 'bwa'
//process {
//  withName:bwa{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/bwa:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process minimap2
//params.aligner == 'minimap2'
//params.minimap2_K = '20M' // stolen from monroe
//params.minimap2_options = ''
//process {
//  withName:minimap2{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/minimap2:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process sort
//process {
//  withName:sort{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/samtools:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process filter
//params.filter_options = ''
//params.filter = true
//process {
//  withName:filter{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/samtools:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process ivar_trim
//params.trimmer == 'ivar'
//process {
//  withName:ivar_trim{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/ivar:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process samtools_ampliconclip
//params.samtools_ampliconclip_options = ''
//params.trimmer == 'samtools'
//process {
//  withName:samtools_ampliconclip{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/samtools:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process ivar_variants
//params.ivar_quality = 20
//params.ivar_frequencing_threshold = 0.6
//params.ivar_minimum_read_depth = 10
//params.mpileup_depth = 8000
//params.ivar_variants = true
//process {
//  withName:ivar_variants{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/ivar:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process ivar_consensus
//params.ivar_quality = 20
//params.ivar_frequencing_threshold = 0.6
//params.ivar_minimum_read_depth = 10
//params.mpileup_depth = 8000
//process {
//  withName:ivar_consensus{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/ivar:latest'
//    memory {2.GB * task.attempt}
//    errorStrategy {'retry'}
//    maxRetries 2
//    stageInMode = 'symlink'
//  }
//}

//# For process bcftools_variants
//params.bcftools_variants = true
//process {
//  withName:bcftools_variants{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/bcftools:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process bamsnap
//params.bamsnap = true
//params.bamsnap_options = ''
//process {
//  withName:bamsnap{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.medpus
//    errorStrategy 'ignore'
//    container 'danielmsk/bamsnap:latest'
//    stageInMode = 'symlink'
//    time '1h'
//  }
//}

//# For process samtools_stats
//params.samtools_stats_options = ''
//params.samtools_stats = true
//process {
//  withName:samtools_stats{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/samtools:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process samtools_coverage
//params.samtools_coverage_options = ''
//params.samtools_coverage = true
//process {
//  withName:samtools_coverage{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/samtools:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process samtools_flagstat
//params.samtools_flagstat_options = ''
//params.samtools_flagstat = true
//process {
//  withName:samtools_flagstat{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/samtools:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process kraken2
//params.kraken2_options = ''
//params.kraken2 = true
//params.kraken2_db = 'kraken2_db/h+v'
//params.kraken2_organism = "Severe acute respiratory syndrome coronavirus 2"
//process {
//  withName:kraken2{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/kraken2:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process bedtools_multicov
//params.bedtools_multicov = true
//params.bedtools_options = '-f .1'
//process {
//  withName:bedtools_multicov{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/bedtools:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process samtools_ampliconstats
//params.samtools_ampliconstats_options = ''
//params.samtools_ampliconstats = true
//process {
//  withName:samtools_ampliconstats{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/samtool:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process samtools_ampliconstats
//params.samtools_plot_ampliconstats_options = '-size 1200,900 -size2 1200,900 -size3 1200,900'
//params.samtools_plot_ampliconstats = true
//process {
//  withName:samtools_ampliconstats{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/samtool:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process pangolin
//params.pangolin_options = ''
//params.pangolin = true
//process {
//  withName:pangolin{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/pangolin:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process nextclade
//params.nextclade_options = ''
//params.nextclade = true
//process {
//  withName:nextclade{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'neherlab/nextclade:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process vadr
//params.vadr_options = '--split --glsearch -s  -r --nomisc --lowsim5term 2 --lowsim3term 2 --alt_fail lowscore,fstukcnf,insertnn,deletinn'
//params.vadr_reference = 'sarscov2'
//params.vadr_mdir = '/opt/vadr/vadr-models'
//params.vadr = true
//params.maxmem = Math.round(Runtime.runtime.totalMemory() / 10241024)
//process {
//  withName:vadr{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.medcpus
//    memory params.maxmem
//    container 'staphb/vadr:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process summary
//process {
//  withName:summary{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/parallel-perl:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process combined_summary
//process {
//  withName:combined_summary{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/parallel-perl:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process mafft
//params.mafft_options = ''
//params.max_ambiguous = '0.50'
//params.relatedness = true
//process {
//  withName:mafft{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/mafft:latest'
//    errorStrategy 'retry'
//    maxRetries 2
//    stageInMode = 'symlink'
//  }
//}

//# For process snpdists
//params.snpdists_options = ''
//params.snpdists = true
//process {
//  withName:snpdists{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/snp-dists:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process iqtree
//params.iqtree_options = ''
//params.outgroup = 'MN908947.3'
//params.mode='GTR'
//params.iqtree = true
//process {
//  withName:iqtree{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus params.maxcpus
//    container 'staphb/iqtree:latest'
//    stageInMode = 'symlink'
//  }
//}

//# For process rename
//params.rename = true
//params.sample_file = 'covid_samples.csv'
//params.gisaid_threshold = '25000'
//params.genbank_threshold = '15000'
//process {
//  withName:rename{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/parallel-perl:latest'
//    stageInMode = 'copy'
//  }
//}

//# For process fasta_prep
//process {
//  withName:fasta_prep{
//    publishDir "cecret, mode: 'copy'
//    echo false
//    cpus 1
//    container 'staphb/parallel-perl:latest'
//    stageInMode = 'symlink'
//  }
//}
