params.species              = 'mpx'
params.trimmer              = 'none'
params.minimum_depth        = 10
params.nextclade_dataset    = 'hMPXV'
params.vadr_options         = '--split --glsearch -s -r --nomisc --r_lowsimok --r_lowsimxd 100 --r_lowsimxl 2000 --alt_pass discontn,dupregin'
params.vadr_reference       = 'mpxv'
params.vadr_trim_options    = '--minlen 50 --maxlen 210000'
params.iqtree2_outgroup     = 'NC_063383'