params.species              = 'sarscov2'
params.nextclade_dataset    = 'sars-cov-2'
params.vadr_options         = '--split --glsearch -s -r --nomisc --lowsim5seq 6 --lowsim3seq 6 --alt_fail lowscore,insertnn,deletinn'
params.vadr_reference       = 'sarscov2'
params.vadr_trim_options    = '--minlen 50 --maxlen 30000'
params.iqtree2_outgroup     = 'MN908947'