includeConfig 'singularity.config'
singularity.autoMounts = true

//# nextflow run /home/eriny/sandbox/Cecret/Cecret.nf -c /home/eriny/sandbox/Cecret/configs/UPHL.config -with-dag cecret_$(date +"%y-%m-%d-%H%M%S").png
//# nextflow run Cecret/Cecret_annotation.nf -c Cecret/config/singularity.config

params {
  reads = "Sequencing_reads/Raw"
  kraken2 = true
  kraken2_db = "/home/IDGenomics_NAS/Data/kraken2_db/h+v"
  vadr = false
}
