name: Test SARS-CoV-2 workflow on wastewater

on: [pull_request, workflow_dispatch]

run-name: Download wastewater fastq

jobs:

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout
          
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
          
      - name: Run Cecret
        run: |
          docker --version
          
          mkdir single_reads
          wget -q ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR194/096/SRR19433296/SRR19433296.fastq.gz
          mv *fastq.gz single_reads/.
          
          nextflow run . -profile docker -c .github/workflows/github_actions.config --primer_set ncov_V3 --maxcpus 2 --medcpus 2 --cleaner 'fastp' --aligner 'minimap2' --mpileup_depth 200 

          ls cecret*
            
          cat cecret*/cecret_results.txt

          head cecret/freyja/aggregated-freyja.tsv

      - name: Clean
        run: rm -rf work .nextflow*