name: Test SARS-CoV-2 profile 2 workflow

on: [pull_request, workflow_dispatch]

run-name: Profile 2

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Clean up Disk space
        uses: jlumbroso/free-disk-space@main

      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Run Cecret
        run: |
          nextflow run . -profile docker,test2 -c .github/workflows/github_actions.config --cleaner 'fastp' --aligner 'minimap2' --mpileup_depth 200

          ls cecret*
            
          cat cecret*/cecret_results.txt

      - name: Clean
        run: rm -rf work .nextflow*
