name: Test SARS-CoV-2 workflow on wastewater

on: [pull_request, workflow_dispatch]

run-name: Download wastewater fastq

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Clean up Disk space
        uses: jlumbroso/free-disk-space@main

      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Run Cecret
        run: |
          docker --version

          mkdir single_reads
          wget -q ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR194/096/SRR19433296/SRR19433296.fastq.gz
          mv *fastq.gz single_reads/.

          nextflow run . -profile docker -c .github/workflows/github_actions.config --primer_set ncov_V3 --cleaner 'fastp' --aligner 'minimap2' --mpileup_depth 200 --single_reads single_reads

          ls cecret*
            
          cat cecret*/cecret_results.txt

          head cecret/freyja/aggregated-freyja.tsv

      - name: Clean
        run: rm -rf work .nextflow*
